services:
  symfony-course-skeleton-app:
    container_name: symfony-course-skeleton-app
    build:
      context: ./docker
      args:
        UID: $U_ID
    volumes:
      - ./:/appdata/www
    environment:
      XDEBUG_CLIENT_HOST: 172.17.0.1
      XDEBUG_CLIENT_PORT: 9003
      PHP_IDE_CONFIG: serverName=symfony-course-skeleton-server
      MAILER_DSN: smtp://symfony-course-skeleton-mailer:1025
    ports:
      - '1000:8000'
    networks:
      - symfony-course-skeleton-network
    depends_on:
      - symfony-course-skeleton-mysql

  symfony-course-skeleton-mysql:
    container_name: symfony-course-skeleton-mysql
    image: mysql:8.0
    ports:
      - '3336:3306'
    environment:
      MYSQL_DATABASE: symfony
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - symfony-course-skeleton-mysql-data:/var/lib/mysql
    networks:
      - symfony-course-skeleton-network
    command: ['mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci']
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 5

  symfony-course-skeleton-mailer:
    container_name: symfony-course-skeleton-mailer
    image: schickling/mailcatcher
    ports:
      - '1025:1025'
      - '1080:1080'
    networks:
      - symfony-course-skeleton-network  
networks:
  symfony-course-skeleton-network:
    driver: bridge

volumes:
  symfony-course-skeleton-mysql-data:
