{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                Col 1
            </div>
            <div class="col">
                Col 2
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-success">Press</button>
            </div>
        </div>
    </div>
{% endblock %}  